#cards{
    background: #fbfbfb;
    border-radius: 20px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 650px;
    margin: 6rem auto 8.1rem auto;
    width:1050px;        
}

h1{font-family: Arial, Helvetica, sans-serif; color:rgb(43, 43, 235);}

nav{
    width: 100%;
    margin: 0px;
    text-align: center;
}

nav ul {
    background: rgb(44, 44, 207);
    list-style: none ;
    margin:-10px;
    position: relative;
    display: inline-table;
    width: 120%;
    

}

nav ul li {
    float: left;
}

nav ul li a:hover {
    background:rgb(69, 69, 219);
}

nav ul li a {
    display: block;
    padding: 15px;   
    text-decoration: none;   
    color: white;
}

nav ul ul{
    background:rgb(44, 44, 207);
    border-radius: 0px;
    padding: 0%;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none ;
    border-top: 1px;
    border-bottom: 1px;
    position: relative;
}

nav ul ul li a{
    padding: 15px 30px ;
    color:white;
}

nav ul ul li a :hover {
    background-color:blanchedalmond;
}

nav ul ul{
    display: none;
}

nav ul li:hover > ul{
    display: block;
    width: 250px;
}


body {
    background:skyblue;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: #ccc 1px solid;
    margin-top: 20px;
  }
   
  table th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
  }
   
  table tr {
    text-align: center;
    padding-left: 20px;
  }
   
  table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
   
  table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
   
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
   
  table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
   
  table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }


h4{font-size: 40px;}

.button{
    padding:10px 55px;
    border-radius: 25px;
    margin: auto 10px;
    border:none;
    margin-top: 30px;
    cursor: pointer;
    background: #FF8600;
    font-weight: bold;
    color:#fff;
    font-size:18px;
}

.btn{
    padding:10px 55px;
    border-radius: 25px;
    margin: auto 10px;
    border:none;
    margin-top: 30px;
    cursor: pointer;
    background: red;
    font-weight: bold;
    color:#fff;
    font-size:18px;
}

